@use "variables";

// BOTONES
.btn {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}
.btn-naranja{
    background-color: variables.$naranja;
    color: variables.$blanco;
    &:hover{
        background-color: variables.$naranja;
    }
}
.btn-azul{
    background-color: variables.$azul;
    color: variables.$blanco;
    
    &:hover{
        background-color: variables.$azulOscuro;
    }
}
.btn-azulOsc{
    background-color: variables.$azulOscuro;
    color: variables.$blanco;
    &:hover{
        background-color: variables.$azulOscuroM;
    }
}
.btn-azulCl{
    background-color: variables.$azulClaro;
    color: variables.$blanco;
    &:hover{
        background-color: variables.$azul;
    }
}
.btn-verde{
    background-color: variables.$verde;
    color: variables.$blanco;

    &:hover{
        background-color: variables.$verdeOscuro;
    }
}
.btn-verdeOsc{
    background-color: variables.$verde;
    color: variables.$blanco;

    &:hover{
        background-color: variables.$verdeOscuro;
    }
}
.btn-rojo{
    background-color: variables.$rojo;
    color: variables.$blanco;

    &:hover{
        background-color: variables.$rojo;
    }
}