.contenedor{
    width: 95%;
    height: 100%;
    max-width: 120rem;
    margin: 0 auto;
}
.centrar{
    margin: 0 auto;
    text-align: center;
}
.btn-margin-bottom{
    margin-bottom: .5rem;
}
.btn-izq{
    margin-left: 2rem;
}