// Colores
$negro: #000;
$blanco: #fff;

$grisClaro: #cacaca;
$grisOscuro: #333;

$azulClaro: #9dd3ff;
$azul: #0069da;
$azulOscuro: #003063;
$azulOscuroM: #000f1f;

$verde: #28a745;
$verdeOscuro: #218838;
$naranja: #f18900;
$rojo: #ff0000;