@use "../base/variables";

.header{
    background-color: variables.$grisOscuro;
    &-contenido{
        display: flex;
        padding: 2rem 0;
        justify-content: space-between;
    }
}
.botones{
    display: flex;
    gap: 2rem;
}

// CARRITO DE COMPRAS
#carrito {
    position: fixed;
    top: 13%;
    right: 255px;
    border-radius: 2rem;
    min-width: 300px;
    width: auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 1rem 3rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none;
    z-index: 999;
}
#overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(variables.$negro, 0.5);
    display: none;
    z-index: 998;
}
.cerrar {
    float: right;
    cursor: pointer;
    color: red;
    margin: .3rem;
    transition: .3s;
    
    &:hover {
        margin: 0;
        color: white;
        background-color: red;
        padding: .3rem;
        transition: .3s;
    }
}
.pagar {
    text-transform: uppercase;
    display: flex;
    margin: .8rem auto;
    justify-content: center;
    transition: .5s;

    &:hover {
        margin: 1.5rem auto .8rem auto;
        transition: .5s;
        height: 3rem;
    }
}