.header{
    background-color: $grisOscuro;
    height: 8rem;
    &-contenido{
        display: flex;
        padding: 2rem 0;
        justify-content: space-between;
    }
}
.botones{
    display: flex;
    gap: 2rem;
}

// BARRA DE BUSQUEDA
// .busqueda{
//     margin-left: 3rem;
//     display: flex;
//     align-items: center;

//     .barra_busqueda{
//         width: 20rem;
//         height: 3rem;
//         padding: 1rem;
//         border: 1px solid $grisClaro;
//         border-radius: .5rem 0 0 .5rem;
//     }
//     .boton_busqueda {
//         height: 3rem;
//         padding: .5rem 1rem;
//         background-color: $azul;
//         color: $blanco;
//         border: none;
//         border-radius: 0 .5rem .5rem 0;
//         cursor: pointer;
        
//         &:hover{
//             background-color: $azulOscuro;
//         }
//     }
// }

// CARRITO DE COMPRAS
#carrito {
    position: fixed;
    top: 20%;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none;
    z-index: 999;
}
#overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba($negro, 0.5);
    display: none;
    z-index: 998;
}
.cerrar {
    float: right;
    cursor: pointer;
    color: red;
}