@use "../base/variables";

.fondo-gris{
    background-color: variables.$grisClaro;
    padding: 7rem;
}
.producto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    background-color: variables.$blanco;
    padding: 2rem;
    border-radius: .5rem;

    // SHADOW
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


    img{
        height: 18rem;
    }
    &-nombre{
        font-size: 3rem;
        font-weight: bold;
    }
    &-precio{
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
}
.producto-form{
    label{
        font-weight: bold;
        margin-right: .5rem;
    }
    input[type='number']{
        width: 4rem;
        padding: .5rem;
        border-radius: .5rem;
        border: 1px solid variables.$negro;
    }
    input[type='submit']{
        margin-top: 1rem;
        color: variables.$blanco;
        background-color: variables.$naranja;
    }
}