@use "../base/variables";

.productos_admin{
    display: flex;
    background-color: variables.$grisClaro;
    text-align: center;
    padding: 2rem 0;

    .btn-agregar{
        margin: 1rem auto;
        width: 7rem;
        justify-content: center;
        gap: .5rem;
        align-items: center;
    }
    .btn-editar, .btn-eliminar{
        justify-content: center;
    }
    .btn-eliminar{
        width: 100%;
    }
    .interacciones-admin{
        display: flex;
    }
}
.productos-tabla{
    padding: 2rem;
    background-color: variables.$blanco;
    border-radius: .5rem;
    border: 1px solid variables.$grisClaro;
    margin: 0 auto;
    width: 100%;

    .tr {
        height: 8rem;
        &-desc {
            max-width: 20rem;
        }
    }

    img{
        height: 6rem;
        image-rendering: auto;
    }

    // SHADOW
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.btns-int {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}